.card,
.card-body,
.org-chart-wrapper,
.org-level,
.children-wrapper,
.child-node,
.node-wrapper {
    overflow: visible !important;
    position: relative;
}

.org-chart-wrapper {
    width: 100%;
    min-width: max-content;
    overflow: auto !important;
    padding: 40px;
    text-align: center;
}

.org-level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-wrapper {
    display: inline-block;
    z-index: 5;
}

.node-wrapper:hover {
    z-index: 999999;
}

.associate-card {
    position: relative;
    background: #ffffff;
    border: 2px solid #e5e7eb;
    border-radius: 20px;
    min-width: 170px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .08);
    cursor: pointer;
    transition: .3s ease;
}

.associate-card:hover {
    transform: translateY(-4px);
}

.avatar-circle {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background: #22c55e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}

.associate-code {
    margin-top: 12px;
    background: #4f46e5;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
}

.associate-name {
    margin-top: 8px;
    background: #55ca78;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
}

.vertical-line {
    width: 2px;
    height: 35px;
    background: #94a3b8;
}

.children-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.children-wrapper::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;
    height: 2px;
    background: #94a3b8;
}

.child-node::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 18px;
    background: #94a3b8;
}

.associate-tooltip {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;

    transform: translateX(-50%);

    width: 270px;

    background: #ffffff;

    border-radius: 14px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, .18);

    border: 1px solid #e2e8f0;

    opacity: 0;
    visibility: hidden;

    transition: .3s ease;

    z-index: 999999;
}

.node-wrapper:hover .associate-tooltip {
    opacity: 1;
    visibility: visible;
}

.associate-tooltip::before {
    content: '';

    position: absolute;

    bottom: 100%;
    left: 50%;

    transform: translateX(-50%);

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #5ab366;
}

.tooltip-header {
    background: #65d16e;

    color: #ffffff;

    text-align: center;

    padding: 12px;

    font-size: 14px;
    font-weight: 600;

    border-radius: 14px 14px 0 0;
}

.tooltip-body {
    padding: 14px;

    background: white;

    border-radius: 0 0 14px 14px;
}

.tooltip-body p {
    margin-bottom: 8px;

    padding-bottom: 8px;

    border-bottom: 1px solid #f1f5f9;

    font-size: 13px;

    color: #475569;
}

.tooltip-body p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

@media(max-width:768px) {

    .children-wrapper {
        gap: 20px;
    }

    .associate-card {
        min-width: 140px;
        padding: 14px;
    }

    .associate-tooltip {
        width: 220px;
    }

}


.select2-container .select2-selection--single {
    height: 38px !important;
    border: 1px solid #ced4da !important;
    border-radius: 6px !important;
    display: flex !important;
    align-items: center !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
    padding-left: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}

/* Select box hover */
.select2-container--default .select2-selection--single:hover {
    border-color: #198754 !important;
}

/* Dropdown option hover */
.select2-container--default .select2-results__option--highlighted {
    background: #198754 !important;
    color: #fff !important;
}

/* Selected option color */
.select2-container--default .select2-results__option--selected {
    background: #d1e7dd !important;
    color: #198754 !important;
}